@charset "utf-8";

@import '../node_modules/bulma/bulma.sass';

.has-bg-img { 
  background: 
    linear-gradient(141deg, rgba(0,158,108, 0.75) 0%, rgba(0,209,178,0.75) 71%, rgba(0,231,235,0.75) 100%),
    url('/images/placeholder.jpg') center center; 
  background-size: cover; 
}

.tile-card.card:hover {
  background: rgba(0,0,0,0.2);
}

.tile-card .card-image i {
  color: #3273dc;
}

.tile-card .card:hover .tile-card .card-image i {
  color: #363636;
}

#content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
main {
  flex: 1;
}

.hero-foot {
  padding: 1em;
}

.main-navbar {
  padding: 20px 0;
}

.login-form {
  background: rgba(255,255,255,0.3); 
  border-radius: 0; 
  box-shadow:none; 
  padding: 4em 2em;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  // background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: 30px;
}