.overlay {
  height: 100%;
  width: 90%;
***REMOVED***

.collection {
  position: relative;
  max-width: 350px;
  width: 90%;
  height: 100%;
  max-height: 350px;
  margin: auto;
  overflow: hidden;
***REMOVED***

.collection .overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width:  100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
***REMOVED***

.collection:hover .overlay,
.collection:hover .caption {
  opacity: 1;
***REMOVED***

.collection:hover .overlay {
  width: 100%;
***REMOVED***

.collection:hover .caption {
  bottom: 0%;
  left: 28%;
***REMOVED***

.caption {
  z-index: 101;
  position: absolute;
  padding: 0.2em;
  bottom: 0;
  left: 0;
  opacity: 0;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
***REMOVED***

.caption-title {
  font-size: 24px;
  font-weight: bold;
***REMOVED***
